<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Golf Bot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<!-- make a div on top of page, having a background color and text in center -->
<div class="bg-dark text-white text-center p-3" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);">
    <br>

    <h1>Golf Bot</h1>
</div>

<div class="container">
    <!-- make a card in center of page, having a form to submit with username and password and submit button -->
    <!--     add shadow to card -->
    <div class="card mx-auto mt-5" style="width: 18rem; box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);">
        <div class="card-body">

            <form method="POST">
                <!-- LOGO image in center of card -->
                <img src="../static/img/logo-bg.png"
                     class="card-img-top mx-auto d-block" style="width: 150px; height: 150px;" alt="...">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="username"
                           aria-describedby="usernameHelp" value="{{ profile_data['username'] }}">

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <!-- type password hides the text -->
                    <input name="password" type="password" class="form-control" id="password" value="{{ profile_data['username'] }}">
                </div>
                <!-- button in center of card -->
                <a type="submit"  href="/run-bot" class="btn btn-primary mx-auto d-block">Run now</a>
                <br>
                <!-- anchor tag in center -->
                <a href="/main/false" class="btn btn-warning mx-auto d-block" >settings</a>
            </form>

        </div>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>